@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 62.5%; //1rem = 12px, 12/16 * 100
  }
  @include respond(small-desktop) {
    font-size: 45%; //1rem = 12px, 12/16 * 100
  }
  @include respond(tab-land) {
    font-size: 40%; // 1rem = 9px, 9/16 * 100
  }
  @include respond(tab-port) {
    font-size: 35%; //1rem = 8px, 8/16 * 100 = 50%
  }
  @include respond(phone) {
    font-size: 30%; //1rem = 8px, 8/16 * 100 = 50%
  }
  @include respond(small-phone) {
    font-size: 28%; //1rem = 8px, 8/16 * 100 = 50%
  }
  @include respond(smallest) {
    font-size: 25%; //1rem = 8px, 8/16 * 100 = 50%
  }
}

body {
  // font-family: 'Yantramanav', sans-serif;
  font-family: Staatliches;
  // font-family: Montserrat, serif;
  font-size: 1.6rem;
  color: $text-light;
  background-color: $bg-light;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 10rem;
    font-weight: 100;
    line-height: 10rem;
  }
  h2 {
    font-size: 5rem;
    font-weight: 600;
  }
  h3 {
    font-size: 4rem;
    font-weight: 600;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 3rem;
    font-weight: 500;
  }

  p {
    font-size: 2.5rem;
    font-family: Roboto, sans-serif;
    font-weight: 200;
  }

  a {
    text-decoration: none;
    color: $text-light;
    transition: color 0.3s;

    &:hover {
      color: darken($text-light, 20%);
    }
  }
}

::selection {
  background-color: $bg-light;
  color: $bg-dark-1;
}

// body,
// .nav-link,
// h3,
// h4,
// h5,
// p,
// table,
// input.form-control,
// li,
// .btn,
// .card {
//   font-family: 'Montserrat';
// }

// h1 {
//   // font-family: 'Permanent Marker';
//   font-family: 'Staatliches', cursive;
//   font-size: 4.5rem !important;
// }

// .navbar-brand {
//   // font-family: 'Holtwood One SC';
//   font-family: 'Staatliches', cursive;
// }

// /* New ticket */

// .new-ticket-form {
//   background-color: red;
// }
