body,
.nav-link,
h3,
h4,
h5,
p,
table,
input.form-control,
li,
.btn,
.card {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Permanent Marker';
}

.navbar-brand {
  font-family: 'Holtwood One SC';
}
